# Automatic caching inspired by https://dev.to/allenap/some-direnv-best-practices-actually-just-one-4864
watch_file shell.nix
if [ ! -f .envrc.cache ] || [ shell.nix -nt .envrc.cache ]; then
    # Don't cache certain ephemeral environment variables
    nix-shell --run 'unset ${!ssh_@} ${!direnv_@} TMPDIR NIX_BUILD_TOP && direnv dump > .envrc.cache'
fi
direnv_apply_dump .envrc.cache
